upstream django {
        server localhost:8000;
        server localhost:8001;
}

server {
        listen 80 default_server;
        listen [::]:80 default_server ipv6only=on;

        server_name summit.olpcsf.org;

        location /static/ {
            root {{ app_home_dir }};
        }

        location / {
                proxy_pass http://django;
                proxy_set_header Host $host;
                #include /etc/nginx/uwsgi_params;
        }
}
