[uwsgi]
plugins = python
chdir = {{ app_dir }}
module = summit.olpcsf_wsgi
env = DJANGO_SETTINGS_MODULE=summit.olpcsf_settings
master = true
pidfile = /tmp/summit.pid
chmod-socket = 666
socket = /tmp/summit.sock
processes = 2
harakiri = 20
max-requests = 5000
vacuum = true
virtualenv = {{ venv_dir }}
uid = {{ user }}
gid = {{ user }}
